html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
}

#input {
	flex: 1;
	border: 1px solid;
	overflow: auto;
	margin: 3px 0 0 0;
}

#left {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin: 4px;
	max-width: 50%;
	overflow: auto;
}

#right {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin: 4px;
	max-width: 50%;
	overflow: auto;
}

#searchDiv {
	display: flex;
	margin: 3px 2px 5px 0;
}

#searchInput {
	flex: 1;
	margin: 0 2px 2px 2px;
}

button {
	margin: 2px;
}

#resultsDiv {
	flex: 1;
	margin: 0 2px 2px 0;
	padding: 0 2px 2px 2px;
}

#resultsDiv * {
	cursor: default
}

.result {
	border: 1px solid;
	margin-bottom: 4px;
	padding: 4px;
	overflow: auto;
}

#resultsDiv span:hover {
	background-color: rgb(158, 250, 253);
	cursor: pointer;
}

textarea {
	margin: 4px;
	padding: 4px;
}

.cm-s-default {
	height: 100% !important;
}

.markedLine {
	background-color: aquamarine;
}

#beautifyButton {
	padding: 0 6px;
	background-color: white;
	border: 1px solid;
	border-radius: 8px;
	cursor: pointer;
}

#beautifyButton:hover {
	background-color: rgb(162, 253, 249);
}

.CodeMirror-foldmarker {
	font-size: .9em;
}